*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
}

a {
    color: rgb(59, 41, 2);
    text-decoration: none;
    font-weight: 550;
}

.login {
    background-color: rgb(218, 214, 214);
    width: 60%;
    padding-top: 5%;
}

.login-form {
    margin: auto;
    background-color: rgb(228, 225, 225);
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    height: 80%;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 10px 10px 12px rgb(187, 186, 184),
        -10px -10px 12px #fff;
}

.side-content {
    background-color: rgb(211, 209, 206);
    height: 100%;
    width: 40%;
}

#password,
#username {
    width: 58%;
    min-height: 40px;
    outline: none;
    background-color: rgb(236, 232, 232);
    border-radius: 30px;
    padding: 18px;
    border: 2px solid rgb(250, 248, 245);
    font-size: 18px;
    box-shadow: inset 8px 8px 10px rgb(173, 173, 171),
        inset -8px -8px 10px rgb(255, 254, 254);
}

.login-form * {
    margin-top: 30px;
}

#username {
    margin-top: 38%;
}

input[type=submit] {
    border-radius: 20px;
    padding: 16px;
    width: 30%;
    font-size: 19px;
    border: 2px solid rgb(252, 251, 249);
    background-color: rgb(252, 251, 250);
    box-shadow: inset 8px 8px 10px rgb(173, 173, 171),
        inset -8px -8px 10px rgb(255, 254, 254);
    font-weight: 600;
}

input[type=submit]:hover {
    box-shadow: 4px 4px 8px rgb(138, 137, 137),
        -4px -4px 8px rgb(241, 240, 238),
        inset -8px -8px 10px rgb(173, 173, 171);
    text-shadow: 6px 4px 4px rgb(49, 48, 48);
}

/* Just a small media query for devices with width 720px and smaller. */

@media screen and (max-width:720px) {

    .side-content {
        display: none;
    }

    .login {
        width: 100%;
    }

    #password,
    #username {
        width: 70%;
    }

}